
input.param {
width: 80px;
}

input.result {
width: 50px;
}

input, select, textarea {
font-size: 100%;
}

table{
font-size: 12px;
}
td {
text-align: center;
vertical-align: middle;
}

td.menu{
  style="padding: 2px 5px;"
}
/*label {
    margin-right: 10px;
    width:100px;
    float: left;
}*/
